

#titulo {
  position: absolute;
  bottom: 550px;
  right: 200px;
  font-size: 50px;
}

#texto {
  position: absolute;
  text-align: right;
  bottom: 400px;
  right: 200px;
  font-size: 18px;
}

.botones {
  position: absolute;
  bottom: 350px;
  right: 200px;
  

}

.center{

  text-align: center;
}

#titulo2{
  font-size: 40px;
}

.footer-basic {
  padding:40px 0;
  padding-left: 0px;
  padding-right: 0px;
  
  background: linear-gradient(to right, #1c3c44,   #048aac);
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  
}

.footer-basic ul {
  
  list-style: none;
  text-align: center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  
  
}

.footer-basic li {
  padding:0 20px;
  text-align: center;
  
  
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}



.card{

  margin: 0px;
  padding-top: 0px;
  position: relative;
  border: 0px;
}


.punteado{
    border-bottom: 2px dotted #000;
    text-decoration: none;
}

